@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-thumbnails-wrapper .image-gallery-thumbnails .image-gallery-thumbnails-container {
    position: relative;
    z-index: 1000;
}
* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box !important;
}

a {
    text-decoration: none;
    position: relative;
    z-index: 1000;
}

p {
    color: #555659;
    font-size: 20px;
    text-align: left;
}
.MuiFormControlLabel-label  {
    color: #555659 !important;
    font-size: 20px !important;
    text-align: left !important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 100vh;
}

.image-gallery-slide .image-gallery-image {
    width: 56.25vh;
}
.MuiGrid-spacing-xs-3 {margin: 0 !important}

.MuiGrid-spacing-xs-8 {width: 100% !important}
.MuiGrid-spacing-xs-3 {width: 100% !important}